Onboarding Assist.json
{
  "name": "Onboarding Assist",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -128
      ],
      "id": "0ee598bd-47fe-4034-8e88-9bba64166660",
      "name": "Telegram Trigger",
      "webhookId": "a8094697-9bb6-4dc9-afd4-e724b829c445",
      "credentials": {
        "telegramApi": {
          "id": "lhQaddDAYivu9u8g",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Onboarding assistant for Target. You Should Generate and summarize the answer only from the given context.\nIf context is irrelevant to the question, You should say, Sorry ! I can't find relevant information from the knowledge base. Don't provide any additional information\nYou should not generate or interpret any response from your knowledge"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -176,
        -128
      ],
      "id": "60ff39ef-aa60-41e3-9384-dc166eb8615b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        80
      ],
      "id": "39fe471c-7102-4bf3-8c9d-d4c5f754f26a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        80
      ],
      "id": "5b201d4f-a10f-4ce9-b36e-71588116da50",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -128
      ],
      "id": "1ed73572-884b-4c16-955f-ca4fb12c10a5",
      "name": "Send a text message",
      "webhookId": "7a504800-cd6d-4ef0-95d7-91fd7fd5d776",
      "credentials": {
        "telegramApi": {
          "id": "lhQaddDAYivu9u8g",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "onboardingassist",
          "mode": "list",
          "cachedResultName": "onboardingassist"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        144
      ],
      "id": "8c211631-fae6-4878-8d52-02ef460208af",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HJfU8QhvcYWXxFTa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "ea7912fe-1ba9-4efb-b101-a6ff91895b17",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20f8f18d-5769-4bbe-8ed4-762efa868c19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19adec0e7b270696b0e6d84175df1adb04b1257fd15041e5e9881651daa931c2"
  },
  "id": "pQGRkmzJqBN0BWNb",
  "tags": []
}